/* ==== ==== ==== ==== ==== */
.page {
    width: 100%;
    height: 100%;
}

/* ==== ==== ==== ==== ==== */
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar {
    padding: 2.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
}

.logo {

    width: 100px;
    height: 40px;

    &__image {
        width: 100%;
        height: 100%;

        display: block;
    }
}

.cart {
    position: relative;

    font-size: 1.3em;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: $font-main;

    &::after {
        content: "";

        width: 100%;
        height: 1px;

        position: absolute;
        bottom: -3px;
        left: 0;

        background-color: transparent;
        transition: 0.3s background-color;
    }

    &:hover::after {
        background-color: $font-main;
    }
}

.menu-button {
    width: 5rem;
    height: 5rem;
    border: none;
    padding: 2rem 1.5rem;

    display: flex;
    flex-flow: column;
    gap: 0.6rem;

    background-color: transparent;
    cursor: pointer;

    &__line {
        width: 2rem;
        height: 0.2rem;

        background-color: $font-main;
    }
}

.menu {
    display: none;
}

/* ==== ==== ==== ==== ==== */
.first {
    width: 100%;
    height: 100vh;

    position: relative;
    z-index: 888;

    display: grid;
    grid-template-columns: 75% 25%;

    background-color: $first-back;

    // media content

    &__picture {
        height: 86vh;
    }

    &__image {
        height: 100%;

        object-position: 50% 50%;
        object-fit: cover;
    }
    
    &__quote {
        height: 14vh;
        padding: 4rem;

        display: flex;
        align-items: center;

        font-size: 2.5em;
        line-height: 128%;
        color: $font-main;
    }

    // text-content

    &__text-content {
        padding-top: 10.7rem;
    }

    &__text-box {
        padding: 0 4.5rem 0 4rem;
    }

    &__text {
        margin-bottom: 2.2rem;

        font-size: 1.4em;
        line-height: 135%;
        letter-spacing: 0.5px;
        color: $font-main;
    }

    &__link {
        position: relative;

        font-size: 1.2em;
        line-height: 160%;
        text-transform: uppercase;
        color: $font-main;

        &::after {
            content: "";

            width: 100%;
            height: 1px;

            position: absolute;
            bottom: -5px;
            left: 0;

            background-color: $font-main;
        }
    }
}

.cookies {
    max-width: 37.6rem;
    padding: 4.8rem;

    position: absolute;
    right: 3.2rem;
    bottom: 3.2rem;

    background-color: $cookies-back;

    &__text {
        margin-bottom: 1rem;

        font-size: 1.6em;
        line-height: 120%;
        letter-spacing: 0.5px;
        color: $font-light;
    }

    &__link {
        position: relative;

        font-size: 1.2em;
        line-height: (19 / 12) * 100%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $font-light;

        &::after {
            content: "";

            width: 100%;
            height: 1px;

            position: absolute;
            bottom: -5px;
            left: 0;

            background-color: $font-light;
        }
    }
}

/* ==== ==== ==== ==== ==== */
.section {
    width: 100%;
    height: 100vh;

    position: relative;
    z-index: 888;

    display: grid;
    grid-template-columns: 25% 75%;

    &--first {
        background-color: $section-back-first;
    }
    
    &--second {
        background-color: $section-back-second;
    }

    &--third {
        background-color: $section-back-third;
    }

    &--fifth {
        background-color: $section-back-fifth;
    }

    &__text-content {
        padding: 4rem 4.5rem 4rem 4rem;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    &__heading {
        font-size: 1.6em;
        letter-spacing: 0.5px;
        color: $font-second;

        &--uppercase {
            text-transform: uppercase;
        }
    }

    &__text {
        margin-bottom: 2.2rem;

        font-size: 1.6em;
        line-height: (19 / 16) * 100%;
        letter-spacing: 0.5px;
        color: $font-second;
    }

    &__link {
        position: relative;

        font-size: 1.2em;
        line-height: (19 / 12) * 100%;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: $font-second;

        &::after {
            content: "";

            width: 100%;
            height: 1px;

            position: absolute;
            bottom: -5px;
            left: 0;

            background-color: $font-second;
        }
    }

    &__picture {
        height: 86vh;
    }

    &__image {
        height: 100%;

        object-position: 50% 50%;
        object-fit: cover;
    }

    &__quote {
        height: 14vh;
        padding-right: 4rem;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;

        font-size: 2.5em;
        line-height: (32 / 25) * 100%;
        letter-spacing: 0.5px;
        color: $font-second;

        text-align: right;
    }
}

/* ==== ==== ==== ==== ==== */
.category {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    &__item {
        padding: 4rem;
        
        display: flex;
        align-items: flex-end;

        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;

        &--first {
            background-image: url("../files/image/third__section__1.jfif");
        }

        &--second {
            background-image: url("../files/image/third__section__2.jfif");
        }
    }

    &__link {
        position: relative;

        font-size: 1.2em;
        line-height: (19 / 12) * 100%;
        letter-spacing: 1.2px;
        color: $font-main;

        &::after {
            content: "";

            width: 100%;
            height: 1px;

            position: absolute;
            bottom: -5px;
            left: 0;

            background-color: $font-main;
        }
    }
}