// page
$font-main: #262626;
$font-second: #B2B2B2;
$font-light: #F1F1EE;

// first
$first-back: #E7F066;
$cookies-back: #1B1B1B;

// section
$section-back-first: #9C8554;
$section-back-second: #A26779;
$section-back-third: #504B4D;
$section-back-fifth: #B04836;